/*@media*/
@media  (max-width: 1400px){
    html{
        font-size: 14px;
    }
}
@media  (max-width: 1225px){
    html{
        font-size: 12px;
    }
}
@media  (max-width: 1050px){
    html{
        font-size: 10px;
    }
    section div{
        display: flex;
        align-content: center;
        
        width: 70%;
    }
    .section-div{
        width: 100%;
        height: auto;
    }
    .extra{
        display: inline-block;
    }
}
@media (max-width: 850px){
    html{
        font-size: 8px;
    }
    .section-div{
        width: 100%;
        height: auto;
    }
}